		


	<link rel="stylesheet" type="text/css" href="style.css">

		h1{
				text-decoration:underline;
				color:white
			}
			table{
				
				width:50;
				height:280px
			color:white
				
			}
		
			
	
		li{
			padding:15px;
			color:white;
			float:right;
		}
		ul{
			list-style-type:none;
			color:white

	
		}
		body{
			background-color:orange;
		}
			h1{font-weight:bold; 
			}

			p{
				text-align:center;
				color:white
			}
		
	
		li{
			float:right;
			padding:15px;
			color:white;
		}

		ul{
			list-style-type:none;
			
		}
		 

		
		 
			body{
				background:color;grid-template-rows:}

			
.img{
	    width:1300px;
        height:400px;
                      }
	
		li{
			float:right;
			padding:15px;
			color:white;
		}
		ul{
			list-style-type:none;
		}


footer {

      height: 400px;
background-color: black;

}

h1{

	 
	 color: orange;
	   
}

.p1{

	 clear: both;


}

h2{

	margin: 80px;
}